@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
.hero-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 12rem;
  margin-bottom: 12rem;
  gap: 1.5rem;
}

.hero-container .hero-heading {
  text-align: center;
  width: 45%;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 6rem;
  font-weight: 700;
  padding: 0 15px;
  background: linear-gradient(95deg, #000000, #666666);
  background-clip: text;
  color: transparent;
  display: block;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 1px 20px rgba(174, 207, 242, 0.24);
  line-height: 6rem;
}

.hero-container .sub-heading {
  font-size: 1.1rem;
  text-align: center;
  margin-top: 1rem;
  width: 45%;
  font-weight: 700;
  color: #5e5e5e;
}

.hero-container .contact-btn-wrapper {
  display: inline-block;
  overflow: hidden;
  border-radius: 50px;
  margin-top: 1rem;
}

.hero-container .circle-arrow-btn {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.3rem 3rem;
  background: transparent;
  background-color: #fee719;
  color: #1E1E1E;
  border-radius: 50px;
  font-weight: 500;
  -webkit-transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  overflow: hidden;
}

.hero-container .circle-arrow-btn .btn-text {
  position: relative;
  z-index: 2;
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: -webkit-transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94), -webkit-transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.hero-container .circle-arrow-btn .icon-container {
  position: absolute;
  right: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  z-index: 2;
}

.hero-container .circle-arrow-btn .icon-container::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  width: 8px;
  height: 8px;
  background: currentColor;
  border-radius: 50%;
  -webkit-transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.hero-container .circle-arrow-btn .icon-container .arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: opacity 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: opacity 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.hero-container .circle-arrow-btn .icon-container .arrow svg {
  width: 15px;
  height: 15px;
  stroke: #1E1E1E;
}

.hero-container .circle-arrow-btn:hover .btn-text {
  -webkit-transform: translateX(-12px);
          transform: translateX(-12px);
}

.hero-container .circle-arrow-btn:hover .icon-container::before {
  -webkit-transform: translate(-50%, -50%) scale(3);
          transform: translate(-50%, -50%) scale(3);
  background: white;
}

.hero-container .circle-arrow-btn:hover .icon-container .arrow {
  opacity: 1;
}

@media (max-width: 1024px) {
  .hero-container .hero-heading {
    font-size: 4rem;
    width: 70%;
  }
  .hero-container .sub-heading {
    font-size: 1rem;
    width: 70%;
  }
}

@media (max-width: 768px) {
  .hero-container {
    margin-top: 6rem;
  }
  .hero-container .hero-heading {
    font-size: 4rem;
    width: 80%;
  }
  .hero-container .sub-heading {
    font-size: 1rem;
    width: 70%;
  }
}

@media (max-width: 480px) {
  .hero-container {
    margin-top: 5rem;
  }
  .hero-container .hero-heading {
    font-size: 2.3rem;
    width: 93%;
  }
  .hero-container .sub-heading {
    font-size: 0.9rem;
    width: 90%;
  }
}
/*# sourceMappingURL=hero.css.map */