/* Signup.css */
.signup-container {
    display: flex;
    min-height: 100vh;      /* make it full viewport height */
  }
  
  .gradient-section {
    flex: 1;
    position: relative;
    background-image: url('/mesh-gradient.svg');
    background-size: cover;
    overflow: hidden;
    // border-radius: 30px;
    // margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .inner-signup-header{
        margin-top: 10rem;
        h1{
            font-size: 2rem;
            color: white;
            text-align: center;
            font-weight: 500;
        }
        p{
            font-size: 1rem;
            color: white;
            text-align: center;
            font-weight: 400;
        }
    }
  }
  
  .gradient-section::after {
    content: "";
    position: absolute;
    inset: 0;                     
    background: url('/noise.png') repeat;
    opacity: 0.7;                 
    pointer-events: none;        
  }

  .form-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;     
    padding: 2rem;
    background-color: #fff;

    .signup-header{
        font-size: 1.4rem;
        font-weight: 600;
    }
    .signup-subheader{
        font-size: 0.8rem;
        font-weight: 400;
        margin-bottom: 2rem;
    }
  }

  
  .form-section form {
    width: 100%;
    max-width: 400px;
  }
  .form-section div{
    margin-bottom: 1rem;

  }
  .form-section label {
    display: block;
    margin-bottom: 0.25rem;
    font-weight: 500;
    font-size: 0.9rem;
  }
  
  .form-section input {
    width: 100%;
    padding: 0.5rem;
    // margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .password-note{
    font-size: 0.8rem;
    color: #888;
    margin-top: 0.5rem;
  }
  .form-section button {
    width: 100%;
    padding: 0.75rem;
    border: none;
    border-radius: 4px;
    background: #D9D9D9;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .form-section button:hover {
    opacity: 0.9;
    background: #1E1E1E;
  }
  .sign-in-note{
    font-size: 0.8rem;
    color: #888;
    margin-top: 1rem;
    a{
        color: #1E1E1E;
        text-decoration: underline;
        font-weight: 500;
    }
  }
  /* Optional: collapse into single column on narrow screens */
  @media (max-width: 768px) {
    .signup-container {
      flex-direction: column;
    }
    .gradient-section {
      display: none;
    }
  }
  