.video-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  //   height: 110vh;

  height: 100%;
  overflow: hidden;
  text-align: center;
  // margin-top: 5rem;
  margin-top: clamp(5rem, 10vw, 10rem);

  .video-header {
    text-align: center;
    font-size: 3.5rem;
    font-weight: 600;
    padding: 0 15px;
    background: linear-gradient(95deg, #000000, #666666);
    background-clip: text;
    color: transparent;
    display: block;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 1px 10px rgba(174, 207, 242, 0.24);
    line-height: 4rem;
    width: 40%;
    margin-bottom: 1.5rem;
  }
  .video-container {
    display: block;
    margin: 0 auto;
    height: auto;
  }
  .video-text-btn {
    position: relative;
    z-index: 1;
    color: white;
    padding-top: 20px;
    // padding: 50px;

    .video-text {
      color: #262626;
      font-weight: 500;
    }
    .video-btn-wrapper {
      display: inline-block;
      overflow: hidden;
      border-radius: 50px;
      margin-top: 1rem;
    }

    .circle-arrow-btn {
      position: relative;
      display: inline-flex;
      align-items: center;
      padding: 0.3rem 3rem;
      background: transparent;
      background-color: #1e1e1e;
      color: white;
      border-radius: 50px;
      font-weight: 500;
      transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
      overflow: hidden;

      .btn-text {
        position: relative;
        z-index: 2;
        transition: transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
      }

      .icon-container {
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
        width: 24px;
        height: 24px;
        border-radius: 50%;
        z-index: 2;
        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) scale(1);
          width: 8px;
          height: 8px;
          background: currentColor;
          border-radius: 50%;
          transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        }

        .arrow {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          opacity: 0;
          transition: opacity 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);

          svg {
            width: 15px;
            height: 15px;
            stroke: #1e1e1e;
          }
        }
      }

      &:hover {
        .btn-text {
          transform: translateX(-12px);
        }

        .icon-container {
          &::before {
            transform: translate(-50%, -50%) scale(3);
            background: white;
          }

          .arrow {
            opacity: 1;
          }
        }
      }
    }
  }
    @media (max-width: 1024px){
    .video-header{
        font-size: 3.5rem;
        line-height: 4rem;
        width: 70%;
    }
  }
  @media (max-width: 768px){
    .video-header{
        font-size: 3rem;
        line-height: 3.5rem;
    }
  }
  @media (max-width: 480px){
    .video-header{
        font-size: 2rem;
        line-height: 2.5rem;
        // padding: 0 25px;
    }
      .video-text-btn {
        font-size: .875rem;
      }
    .video-text {
        font-size: .875rem;
    }
  }
}
